 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #c0bfa8;
    height: 100vh;
}

.root {
    background-color: #c0bfa8;
    position: relative;
    background-image: url("./../assets/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.details {
    position: absolute;
    right: 20%;
    bottom: 15% ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;
    max-width: 700px;
    max-height: 500px;
}

.d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding-bottom: 9px;
    border-bottom: 2px solid #9d460868  ;
}


.heading {
    margin-left: -30px;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 90px;
    height: 45px;
}

input {
    padding: 10px ;
    width: 70% ;
    height: 36px;
    display: inline;
    
}

label {
    font-size: 18px;
    font-weight: bolder;
}

.upload {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 36px; */
    font-size: 18px;
    display: inline;
}